---
---

/* In this file you can add css rules overriding rules defined by your Jekyll theme.  */

/* Import the CSS from the specified theme */
@import "{{ site.theme }}";

/* Put your rules below this line */

.page-header {
  background-image: linear-gradient(120deg, #16508a, #2c7d90);
}
